# Ignore all
*

# Unignore source files
!*.cpp
!*.h
!*.c
!*.hpp
!Makefile
!.gitignore
!/src
!/inc
!/assets
!*.png
!*.sh
!*.md

#Unignore text and fonts
!*.ttf
!*.txt

#Reignore valgrind output
valgrind-out.txt
