[submodule "extern/utilityKnife"]
	path = extern/utilityKnife
	url = git@github.com:danelbro/utilityKnife
[submodule "extern/SDL"]
	path = extern/SDL
	url = git@github.com:libsdl-org/SDL
[submodule "extern/SDL_ttf"]
	path = extern/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf
